.main-photo_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.main-photo{
    display: block;
    border: none;
    border-radius: 100%;
    width: 482px;
    height: 482px;
    object-fit: cover;
    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.5),
        0 10px 20px rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.main-nav{
  margin: auto;
  margin-top: 40px;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: space-evenly;
  transition: all 0.3s ease;
}
.main-nav_hover{
  opacity: 1;
  visibility: visible;
}
.main-nav-link{
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: px;
    cursor: pointer;
    font-size: 40px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}
